<nav id="main-navbar">
  <div class="container">
    {{#if isAuthenticated}}
    {{#link-to 'record' class="link-to-record" id="records"}}Records{{/link-to}}
    {{else}}
    <li>{{navbar-header}}</li>
    {{/if}}
    {{#if isAuthenticated}}
    <li id="gear">{{#link-to 'option'}}⚙{{/link-to}}</li>
    {{else}}
    <li id="sign-in">{{#link-to 'sign-in'}}Sign In{{/link-to}}</li>
    {{/if}}
  </div>
</nav>

<div class="my-application-outlet">
  {{outlet}}

  {{#if isAuthenticated}}
      {{add-button}}
  {{/if}}
</div>
