{{!-- {{symptom-input symptom=entryParams.symptom}}
{{date-input date=entryParams.date}}
{{details-input details=entryParams.details}} --}}
<div class="new-entry-fields">

<label for="kind">Record New Entry</label>
<hr>
{{input type="symptom"
        id="symptom"
        placeholder="Symptom"
        value=entryParams.symptom}}

{{input type="date"
        id="date"
        placeholder="Date"
        value=entryParams.date}}

{{input type="details"
        id="details"
        placeholder="Details"
        value=entryParams.details}}

<button type="submit" class="full-size-buttons btn btn-primary" {{action "submit"}}>
  submit
</button>

<button class="full-size-buttons btn btn-default" {{action "reset"}}>
  Cancel
</button>

</div>

{{yield}}
