<div class="new-entry-fields">

<label class="new-record" for="kind">Record New Entry</label>
<hr>
{{symptom-input symptom=entryParams.symptom}}
{{date-input date=entryParams.date}}
{{details-input details=entryParams.details}}


<button type="submit" class="full-size-buttons btn btn-primary" {{action "submit"}}>
  submit
</button>

<button class="full-size-buttons btn btn-default" {{action "reset"}}>
  Cancel
</button>

</div>

{{yield}}
