<h5>Date:</h5>
<h3>{{single-entry.date}}</h3>

<h5>Symptom:</h5>
<h3>{{single-entry.symptom}}</h3>

<h5>More Details:</h5>
<h3>{{single-entry.details}}</h3>

<button class="btn btn-lg btn-danger" type="button" name="button" {{action "delete" on="click"}}>Delete</button>


{{yield}}
